<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2018-06TNow">
                        <span><strong class="text-upper">2018/06</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>JAVA软件工程师</h3>
                    <span class="education-company">开发中 | 汉得信息</span>
                    <p>参与基于SSH的HOOP增值税管理系统开发工作</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2017/05</strong> - <strong>2018/05</strong></span>
                    </time>
                    <h3>实习技术顾问</h3>
                    <span class="education-company">参与多个项目的开发工作 | 汉得信息</span>
                    <p>参与使用公司基于SSM搭建的HAP3.0应用框架基础上开发汉得金融项目管理系统（2017.05-2017.10）</p>
                    <p>参与使用公司HAP框架搭建的锦江之星国际酒店维也纳结算项目(2017.11-2018-3)</p>
                    <p>参与基于SSM的HAP企业费控应用平台开发工作(2018.3-2018.5)</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->