<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育/培训经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>怀化学院</strong>
                        <span>2014 - 2018 | 计算机科学与技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，在校期间担任校学生会劳卫部委员。
                        </p>
                        <p>2016年（第二届）怀化学院蓝狐网络杯程序设计大赛 三等奖
                        </p>
                        <p>2017年（第十届）中国大学生计算机设计大赛 三等奖
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ 'https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D250/sign=9640cee01ad5ad6eaef963efb1cb39a3/8b82b9014a90f60337d669633812b31bb051edb4.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>杰普软件</strong>
                        <span>2016 - 2017 | Java校企合作培训班</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>系统学习JAVA企业级应用开发相关技术。包括Linux基础、JAVA基础、JAVA进阶、oracle数据库、Mybatis、spring、springMVC、servlet、HTML等。
                        </p>
                    </blockquote>
                </div>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->