<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>1996/11/23</dd>

                <dt class="text-upper">手机</dt>
                <dd>1662115XXXX</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:asahi@alpgo.cc">2587336357@qq.com</a></dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->